version: "3.8"

services:
  mongodb:
    image: mongo:8.2.4
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: apicursos
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongodb
    command: uv run gunicorn -w 1 -b 0.0.0.0:8000 main:app

volumes:
  mongo_data: